<h1>Members of Nation</h1>
<% @characters.each do |character| %>
  <p>Name: <%= character.name  %></p>
  <p>Allies: <%= character.allies_format  %></p>
  <p>Enemies: <%= character.enemies_format  %></p>
  <p>Affliations: <%= character.affiliation  %></p>
  <p><img src="<%= character.photo %>"</p>
<% end %>
